html {
    overflow-x: hidden;
}
#spinner {
    display: none;
}

body {
    height: 100vh;
    background: url(../images/book-bg.jpg) no-repeat center center / cover;
    background-attachment: fixed;
}